<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Inicio</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">Quem Somos</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Aplicativo</a>
                    </li>
					 <li>
						<a href="https://play.google.com/store/apps/details?id=com.ghostcompany.hackfest.ghostcompany" href="#services">Download</a>
                    </li>	
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#team">Equipe</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#project">Projeto</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
