<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>EQUIPE</h1>
                <br>
                <ul class="list-inline">
                    <div class="col-md-6">
                        <ul>
                            <h3>Allan Roque</h3>
                            <p>Graduando do curso de Ciência da Computação.</p>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <h3>Emanuel Mesquita</h3>
                            <p>Graduado no curso de Gestão de Tecnologia da Informação.</p>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <h3><a href="https://br.linkedin.com/in/herbertt-diniz-393a7339">Herbertt Diniz</a></h3>
                            <p>Entusiasta da tecnologia.</p>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <h3>Jackson Terceiro</h3>
                            <p>Analista de sistemas, desenvolvedor transacional back-end e estudante do curso de Ciência da Computação.</p>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <h3>Mauricio de Lira</h3>
                            <p>Graduando do curso de Sistemas Para Internet.</p>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <h3>Paulo Yamaha</h3>
                            <p>Formado em Publicidade e Propaganda, empreendedor e que não resiste à um bom café e conversa.</p>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <h3>Vanessa Marques</h3>
                            <p>Graduanda do curso de Ciência da Computação e aficionada por tecnologia.</p>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <br> <br>
</section>
